openapi: 3.0.0
info:
  title: Warp Agent API
  version: 1.0.0
  description: |
    API for creating, managing, and querying Warp cloud agent runs.

    These endpoints allow users to programmatically spawn agents, list runs, 
    and retrieve detailed run information.
  contact:
    name: Warp Support
    url: 'https://docs.warp.dev'
    email: support@warp.dev
  license:
    name: Proprietary
servers:
  - url: 'https://app.warp.dev/api/v1'
    description: Warp Server
tags:
  - name: agent
    description: Operations for running and managing cloud agents
  - name: schedules
    description: Operations for creating and managing scheduled agents
paths:
  /factory:
    get:
      summary: List factories
      description: |
        List factories accessible to the authenticated principal. An optional
        team_uid query parameter restricts results to a single team, and an
        optional search query parameter filters by a case-insensitive
        substring match on the factory name or alias.
      operationId: listFactories
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: team_uid
          in: query
          description: Optional team UID to filter factories by ownership.
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: |
            Case-insensitive substring search over the factory name and
            alias.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of factories to return (default 50, max 100).'
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          description: Opaque cursor returned by a previous list response.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of factories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFactoriesResponse'
        '401':
          description: Authentication required
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/{uid}':
    get:
      summary: Get a factory
      description: Get a factory by its public UID.
      operationId: getFactory
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          description: The public UID of the factory.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Factory details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Factory'
        '401':
          description: Authentication required
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: Factory not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/{uid}/runs':
    post:
      summary: Dispatch a run to a factory
      description: |
        Dispatch a run to a factory by its UID, using prompt as the run's
        prompt and an optional title, ticket_ref, and ticket_url. Returns
        the created run; its factory task is created asynchronously and can
        be resolved afterwards with GET /factory/{uid}/task-by-run.
      operationId: createFactoryRun
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          description: The public UID of the factory.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactoryRunRequest'
      responses:
        '201':
          description: Run dispatched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactoryRunResponse'
        '400':
          description: Invalid request body or ticket_ref
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: Factory not found or not accessible
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The factory has no foreman agent to receive work
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent:
    get:
      summary: List available agents
      description: |
        Retrieve a list of available agents (skills) that can be used to run tasks.
        Agents are discovered from environments or a specific repository.
      operationId: listAgents
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: repo
          in: query
          description: |
            Optional repository specification to list agents from (format: "owner/repo").
            If not provided, lists agents from all accessible environments.
          required: false
          schema:
            type: string
        - name: refresh
          in: query
          description: |
            When true, clears the agent list cache before fetching.
            Use this to force a refresh of the available agents.
          required: false
          schema:
            type: boolean
            default: false
        - name: sort_by
          in: query
          description: |
            Sort order for the returned agents.
            - "name": Sort alphabetically by name (default)
            - "last_run": Sort by most recently used
          required: false
          schema:
            type: string
            enum:
              - name
              - last_run
        - name: include_malformed_skills
          in: query
          description: |
            When true, includes skills whose SKILL.md file exists but is
            malformed. These variants will have a non-empty `error` field
            describing the parse failure. Defaults to false.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: List of available agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentsResponse'
        '400':
          description: Invalid repository specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/connected-self-hosted-workers:
    get:
      summary: List connected self-hosted workers
      description: |
        Retrieve currently connected self-hosted workers for the authenticated principal's team.
        Worker presence is derived from worker websocket heartbeats and may be briefly stale.
      operationId: listConnectedSelfHostedWorkers
      tags:
        - agent
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of currently connected self-hosted workers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectedSelfHostedWorkersResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to list connected workers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/runs/{runId}/transcript':
    get:
      summary: Get run transcript
      description: |
        Retrieve the raw conversation transcript for an agent run.
        Returns a 302 redirect to a time-limited download URL for the transcript.
      operationId: getRunTranscript
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          description: The unique identifier of the run
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to a download URL for the transcript
          headers:
            Location:
              description: URL to download the transcript
              schema:
                type: string
                format: uri
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run transcript
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found or has no transcript
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/run:
    post:
      summary: Run an agent task
      description: |
        Spawn a cloud agent with a prompt and optional configuration.
        The agent will be queued for execution and assigned a unique run ID.
      operationId: runAgent
      deprecated: true
      tags:
        - agent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunAgentRequest'
            examples:
              simple:
                summary: Simple prompt
                value:
                  prompt: Fix the bug in auth.go
              withConfig:
                summary: With agent config
                value:
                  prompt: Refactor the database layer
                  config:
                    name: my-agent
                    model_id: gpt-5-4-high
                    base_prompt: Focus on Go backend code
                  title: DB Refactoring Run
      responses:
        '200':
          description: Run created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAgentResponse'
        '400':
          description: 'Invalid request (missing prompt, invalid config)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'No permission to access referenced resources (environment, MCP servers)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/runs:
    post:
      summary: Run a cloud agent
      description: |
        Spawn a cloud agent with a prompt and optional configuration.
        The agent will be queued for execution and assigned a unique run ID.
      operationId: createRun
      tags:
        - agent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunAgentRequest'
      responses:
        '200':
          description: Run created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunAgentResponse'
        '400':
          description: 'Invalid request (missing prompt, invalid config)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'No permission to access referenced resources (environment, MCP servers)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List agent runs
      description: |
        Retrieve a paginated list of agent runs with optional filtering.
        Results default to `sort_by=updated_at` and `sort_order=desc`.
      operationId: listRuns
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of runs to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          description: |
            Sort field for results.
            - `updated_at`: Sort by last update timestamp (default)
            - `created_at`: Sort by creation timestamp
            - `title`: Sort alphabetically by run title
            - `agent`: Sort alphabetically by skill. Runs without a skill are grouped last.
          required: false
          schema:
            type: string
            enum:
              - updated_at
              - created_at
              - title
              - agent
            default: updated_at
        - name: sort_order
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: state
          in: query
          description: |
            Filter by run state. Can be specified multiple times to match any of the given states.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/RunState'
          style: form
          explode: true
        - name: name
          in: query
          description: Filter by agent config name
          required: false
          schema:
            type: string
        - name: model_id
          in: query
          description: Filter by model ID
          required: false
          schema:
            type: string
        - name: creator
          in: query
          description: Filter by creator UID (user or service account)
          required: false
          schema:
            type: string
        - name: executor
          in: query
          description: |
            Filter by the user or agent that executed the run. This will often be the
            same as the creator, but not always: users may delegate tasks to agents.
          required: false
          schema:
            type: string
        - name: source
          in: query
          description: Filter by run source type
          required: false
          schema:
            $ref: '#/components/schemas/RunSourceType'
        - name: execution_location
          in: query
          description: Filter by where the run executed
          required: false
          schema:
            $ref: '#/components/schemas/RunExecutionLocation'
        - name: created_after
          in: query
          description: Filter runs created after this timestamp (RFC3339 format)
          required: false
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          description: Filter runs created before this timestamp (RFC3339 format)
          required: false
          schema:
            type: string
            format: date-time
        - name: updated_after
          in: query
          description: Filter runs updated after this timestamp (RFC3339 format)
          required: false
          schema:
            type: string
            format: date-time
        - name: environment_id
          in: query
          description: |
            Filter runs by environment ID. Passing the literal value
            `empty-environment` matches runs with no environment configured,
            rather than omitting the parameter, which applies no environment
            filter at all. `empty-environment` can never collide with a real
            environment ID: every environment ID is exactly 22 characters
            drawn from `[A-Za-z0-9]`, while this sentinel contains a hyphen
            and is a different length.
          required: false
          schema:
            type: string
        - name: skill
          in: query
          description: |
            Filter runs by skill spec (e.g., "owner/repo:path/to/SKILL.md").
            Alias for skill_spec.
          required: false
          schema:
            type: string
        - name: skill_spec
          in: query
          description: 'Filter runs by skill spec (e.g., "owner/repo:path/to/SKILL.md")'
          required: false
          schema:
            type: string
        - name: schedule_id
          in: query
          description: Filter runs by the scheduled agent ID that created them
          required: false
          schema:
            type: string
        - name: automation_id
          in: query
          description: |
            Filter runs by the factory automation that dispatched them. Matches
            runs stamped with the automation_id metadata key at creation time.
          required: false
          schema:
            type: string
        - name: ancestor_run_id
          in: query
          description: Filter runs by ancestor run ID. The referenced run must exist and be accessible to the caller.
          required: false
          schema:
            type: string
        - name: metadata
          in: query
          description: |
            Filter by exact metadata key/value pairs using object notation
            (e.g. `metadata[ticket_id]=VIS-238`), combining multiple pairs
            with AND semantics, up to 5 per request. Returns
            `feature_not_available` when metadata filtering is not enabled.
          required: false
          schema:
            type: object
            maxProperties: 5
            additionalProperties:
              type: string
          style: deepObject
          explode: true
        - name: artifact_type
          in: query
          description: Filter runs by artifact type
          required: false
          schema:
            type: string
            enum:
              - PLAN
              - PULL_REQUEST
              - SCREENSHOT
              - FILE
              - EXTERNAL_REFERENCE
        - name: q
          in: query
          description: 'Fuzzy search query across run title, prompt, and skill_spec'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunsResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Metadata filtering is not enabled for this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/run-by-external-reference:
    get:
      summary: Find the run that produced a given external reference URL
      description: |
        Reverse-looks up the agent run that created an EXTERNAL_REFERENCE artifact
        with the given URL. The URL is matched against the canonical locator stored
        when the artifact was reported via POST /harness-support/report-artifact
        with artifact_type EXTERNAL_REFERENCE. Returns 404 when no matching run
        exists or when the caller lacks access, to avoid leaking run existence.
      operationId: getRunByExternalReferenceURL
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: url
          in: query
          required: true
          description: The canonical URL of the external reference artifact to look up.
          schema:
            type: string
            maxLength: 2048
      responses:
        '200':
          description: Run found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunByExternalReferenceResponse'
        '400':
          description: url query parameter is missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'No run found with the given external reference URL, or caller lacks access'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/runs/{runId}':
    get:
      summary: Get run details
      description: |
        Retrieve detailed information about a specific agent run, 
        including the full prompt, session link, and resolved configuration.
      operationId: getRun
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          description: The unique identifier of the run
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunItem'
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/runs/{runId}/timeline':
    get:
      summary: Get run timeline
      description: |
        Retrieve chronological setup and lifecycle timeline events for an agent run.
      operationId: getRunTimeline
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          description: The unique identifier of the run
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run timeline events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRunTimelineResponse'
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/runs/{runId}/conversation':
    get:
      summary: Get normalized run conversation
      description: |
        Retrieve a run's conversation as a normalized sequence of messages and
        nested steps.
        The response groups text, tool activity, and event content into
        structured blocks.
      operationId: getRunConversation
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          description: The unique identifier of the run
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Normalized conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '400':
          description: Missing run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 'Run not found, or the run has no conversation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            Conversation format is not yet supported by the normalized endpoint
            (error_code: operation_not_supported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/runs/{runId}/cancel':
    post:
      summary: Cancel a run
      description: |
        Cancel an agent run that is currently queued or in progress; once
        cancelled, the run transitions to a cancelled state. Not all runs can
        be cancelled: a run already in a terminal state, in PENDING, or of an
        unsupported type (self-hosted, local, GitHub Action) is rejected
        instead — see the error responses below for each case.
      operationId: cancelRun
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          description: The unique identifier of the run to cancel
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run cancelled successfully
          content:
            application/json:
              schema:
                type: string
                description: The ID of the cancelled run
        '400':
          description: |
            Missing run ID, or the run is already in a terminal state
            (error_code: invalid_request)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to cancel run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            Run is in PENDING state and cannot be cancelled yet.
            Retry after a moment (error_code: conflict, retryable: true).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            Run cannot be cancelled because the operation is not supported
            for this run type (e.g., self-hosted, local, or GitHub Action runs)
            (error_code: operation_not_supported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/runs/{runId}/followups':
    post:
      summary: Submit a follow-up message for a run
      description: |
        Send a follow-up message to an existing run. The server transparently
        routes the message based on the current state of the run (still
        queued, actively running, or ended). A 200 response means the follow-up
        was accepted; updated run state can be observed via
        `GET /agent/runs/{runId}`.
      operationId: submitRunFollowup
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          description: The unique identifier of the run
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunFollowupRequest'
      responses:
        '200':
          description: Follow-up accepted
          content:
            application/json:
              schema:
                type: object
        '400':
          description: |
            Invalid request (e.g. no active sandbox without conversation ID,
            malformed payload). Empty messages are accepted when continuing a
            run from saved conversation context; otherwise they are rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to submit follow-ups for this run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/conversations/{conversation_id}':
    get:
      summary: Get normalized conversation
      description: |
        Retrieve a conversation directly by conversation ID in Warp's
        normalized task/message format.
      operationId: getConversation
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: conversation_id
          in: path
          description: The unique identifier of the conversation
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Normalized conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '400':
          description: Missing conversation ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            Conversation format is not yet supported by the normalized endpoint
            (error_code: operation_not_supported)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/schedules:
    post:
      summary: Create a scheduled agent
      description: |
        Create a new scheduled agent that runs on a cron schedule.
        The agent will be triggered automatically based on the cron expression.
      operationId: createScheduledAgent
      tags:
        - schedules
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledAgentRequest'
            examples:
              simple:
                summary: Simple daily schedule
                value:
                  name: Daily Code Review
                  cron_schedule: 0 9 * * *
                  prompt: Review open pull requests and provide feedback
                  enabled: true
              withConfig:
                summary: With agent config
                value:
                  name: Weekly Report
                  cron_schedule: 0 10 * * 1
                  prompt: Generate weekly status report
                  enabled: true
                  agent_config:
                    model_id: claude-4-6-opus-high
      responses:
        '201':
          description: Scheduled agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '400':
          description: 'Invalid request (missing required fields, invalid cron expression)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission or feature not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List scheduled agents
      description: |
        Retrieve all scheduled agents accessible to the authenticated user.
        Results are sorted alphabetically by name.
      operationId: listScheduledAgents
      tags:
        - schedules
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of scheduled agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScheduledAgentsResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/schedules/{scheduleId}':
    get:
      summary: Get scheduled agent details
      description: |
        Retrieve detailed information about a specific scheduled agent,
        including its configuration, history, and next scheduled run time.
      operationId: getScheduledAgent
      tags:
        - schedules
      security:
        - bearerAuth: []
      parameters:
        - name: scheduleId
          in: path
          description: The unique identifier of the scheduled agent
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scheduled agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '400':
          description: Missing schedule ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a scheduled agent
      description: |
        Update an existing scheduled agent's configuration.
        All fields except agent_config are required.
      operationId: updateScheduledAgent
      tags:
        - schedules
      security:
        - bearerAuth: []
      parameters:
        - name: scheduleId
          in: path
          description: The unique identifier of the scheduled agent
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScheduledAgentRequest'
      responses:
        '200':
          description: Scheduled agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to update schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a scheduled agent
      description: |
        Delete a scheduled agent. This will stop all future scheduled runs.
      operationId: deleteScheduledAgent
      tags:
        - schedules
      security:
        - bearerAuth: []
      parameters:
        - name: scheduleId
          in: path
          description: The unique identifier of the scheduled agent
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scheduled agent deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteScheduledAgentResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to delete schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/schedules/{scheduleId}/pause':
    post:
      summary: Pause a scheduled agent
      description: |
        Pause a scheduled agent. The agent will not run until resumed.
      operationId: pauseScheduledAgent
      tags:
        - schedules
      security:
        - bearerAuth: []
      parameters:
        - name: scheduleId
          in: path
          description: The unique identifier of the scheduled agent
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scheduled agent paused successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to pause schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/schedules/{scheduleId}/resume':
    post:
      summary: Resume a scheduled agent
      description: |
        Resume a paused scheduled agent. The agent will start running
        according to its cron schedule.
      operationId: resumeScheduledAgent
      tags:
        - schedules
      security:
        - bearerAuth: []
      parameters:
        - name: scheduleId
          in: path
          description: The unique identifier of the scheduled agent
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scheduled agent resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledAgentItem'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to resume schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schedule not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/environments:
    get:
      summary: List environments
      description: |
        Retrieve cloud environments accessible to the authenticated principal.
        Returns environments the caller owns, has been granted guest access to,
        or has accessed via link sharing.
      operationId: listEnvironments
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: sort_by
          in: query
          required: false
          description: |
            Sort order for the returned environments.
            - `name`: alphabetical by environment name
            - `last_updated`: most recently updated first (default)
          schema:
            type: string
            enum:
              - name
              - last_updated
            default: last_updated
      responses:
        '200':
          description: List of accessible environments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvironmentsResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/models:
    get:
      summary: List available models
      description: |
        Retrieve the list of LLM models available to the authenticated user for
        agent runs. The response includes which model is the default, as well as
        per-model metadata such as provider, cost, and whether the model is
        currently disabled (and why).
      operationId: listModels
      tags:
        - agent
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of available models
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/artifacts/{artifactUid}':
    get:
      summary: Get artifact details
      description: |
        Retrieve an artifact by its UUID: a time-limited signed download URL
        for downloadable file-like artifacts, or the current plan content
        inline for plan artifacts. Public artifacts can be read without
        authentication; private artifacts require the caller to be
        authenticated and authorized.
      operationId: getArtifact
      tags:
        - agent
      security:
        - bearerAuth: []
        - {}
      parameters:
        - name: artifactUid
          in: path
          description: The unique identifier (UUID) of the artifact
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Artifact details with download information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactResponse'
        '400':
          description: Missing artifact UID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for private artifacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access private artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Artifact not found or unsupported artifact type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/artifacts/{artifactUid}/download':
    get:
      summary: Download an artifact
      description: |
        Redirect to a temporary signed download URL for a downloadable artifact.
        Public artifacts can be downloaded without authentication; private
        artifacts require the caller to be authenticated and authorized.
      operationId: downloadArtifact
      tags:
        - agent
      security:
        - bearerAuth: []
        - {}
      parameters:
        - name: artifactUid
          in: path
          description: The unique identifier (UUID) of the artifact
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to a temporary signed artifact download URL
          headers:
            Location:
              description: Temporary signed download URL
              schema:
                type: string
                format: uri
            Cache-Control:
              description: Cache directive for the redirect response
              schema:
                type: string
            X-Content-Type-Options:
              description: Browser content sniffing protection
              schema:
                type: string
        '400':
          description: Missing artifact UID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for private artifacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access private artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Artifact not found or unsupported artifact type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/scorers/{scorer_id}':
    patch:
      summary: Update a scorer's definition
      description: |
        Apply a partial update to a scorer's definition; omitted fields are
        left unchanged, but at least one field must be provided, and the
        owning factory is immutable. Each update bumps the scorer's version
        without invalidating any scoring judge already in flight, since
        judges validate against the definition snapshot taken at dispatch
        time, and historical scores keep their recorded classification
        values. Supplying `scope_mode` or `agent_uids` replaces the scorer's
        scope in full.
      operationId: updateScorer
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScorerRequest'
      responses:
        '200':
          description: The updated scorer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '400':
          description: Invalid scorer update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: 'Scorer not found, or the caller cannot manage its factory'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a scorer
      description: |
        Permanently delete a scorer. This is not reversible and it is not an
        archive: the scorer's scoring attempts, scores, judge reasoning, self-improvement
        config, and self-improvement triage results go with it, and the scorer stops
        being readable through this API as soon as the call returns.

        The underlying rows and the judge-reasoning blobs stored outside the
        database are destroyed shortly afterwards by the deletion sweep, which
        removes each blob before the record that references it and retries until
        both are gone.
      operationId: deleteScorer
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Scorer deleted
        '400':
          description: Invalid scorer ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: 'Scorer not found, or the caller cannot manage its factory'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /harness-support/transcript:
    get:
      summary: Download the raw third-party harness transcript
      description: |
        Redirect to a signed download URL for the raw third-party harness
        transcript (e.g. `claude_code.json`) of the current task's
        conversation. Only supported for conversations produced by non-Warp
        harnesses; Warp conversations return 400. Callable only from within a
        cloud agent execution environment whose task already has an
        associated conversation (e.g. on a resumed run).
      operationId: getTranscriptDownload
      tags:
        - harness-support
      security:
        - bearerAuth: []
      responses:
        '307':
          description: Redirect to a signed download URL for the transcript
        '400':
          description: 'Task has no conversation, or conversation format does not support transcript downloads'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: No permission to access the conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Conversation or transcript not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /agent/identities:
    post:
      summary: Create an agent
      description: |
        Create a new agent for the caller's team.
        Agents can be used as the execution principal for team-owned runs.
      operationId: createAgent
      tags:
        - agent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: 'Invalid request (empty name, user on multiple teams, or on no team)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Only human users can manage agents, or plan limit exceeded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List agents
      description: |
        List all agents for the caller's team. Each agent includes
        an `available` flag indicating whether it is within the team's plan limit
        and may be used for runs.
      operationId: listAgents
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters: []
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentIdentitiesResponse'
        '400':
          description: 'User on multiple teams, or on no team'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only human users can list agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /factory/scorers:
    post:
      summary: Create a scorer
      description: |
        Create an active run scorer for a factory with either selected-agent or
        all-agent scope. Creating a scorer does not start scoring. Pass
        self_improvement_enabled to also turn on self-improvement for the new scorer in the same
        request; the scorer and its self-improvement config are created atomically, so
        a failure leaves neither behind.
      operationId: createScorer
      tags:
        - factory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScorerRequest'
      responses:
        '201':
          description: Scorer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerResponse'
        '400':
          description: Invalid scorer definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Caller cannot edit the factory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Factory not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List agent scorers
      description: |
        List the scorers owned by the caller's team, including scope agents
        and aggregate scoring stats. Pass factory_uid to narrow the result to a
        single factory.
      operationId: listScorers
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: include_managed
          in: query
          description: |
            When true, include platform-owned managed scorers (for example the
            benchmark correctness scorer) alongside user scorers. Defaults to
            false so general scorer management only lists user-defined scorers.
          required: false
          schema:
            type: boolean
            default: false
        - name: start_date
          in: query
          description: |
            RFC3339 UTC timestamp, inclusive; must be provided together with
            end_date and be strictly before it, or both omitted to use the
            unscoped window scorer detail pages use. Together with end_date,
            scopes pass_rate_summary (pass_count, fail_count, pass_rate, and
            recent_outcomes) to live scores in [start_date, end_date) instead
            of the flat recent_outcomes_limit-only window. result_count and
            last_scored_at are never affected by this parameter.
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Scorers for the caller's team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorersResponse'
        '400':
          description: |
            Invalid recent_outcomes_limit (not an integer in 1-100), or an
            invalid start_date/end_date pair: one given without the other,
            an unparseable RFC3339 timestamp, or start_date not strictly
            before end_date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only human users can list scorers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/scorers/{scorer_id}/results':
    get:
      summary: List recent results for an scorer
      description: |
        List the scorer's most recent scoring attempts, newest first. A
        failed attempt carries no classification. Pagination is a keyset
        cursor over attempted_at with the attempt id as a stable tiebreak.
      operationId: listScorerResults
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
        - name: limit
          in: query
          description: 'Maximum number of results to return (1-100, default 50)'
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          description: Opaque cursor returned by a previous list response.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Recent results for the scorer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorerResultsResponse'
        '400':
          description: 'Invalid scorer ID, limit, or cursor'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: Scorer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/scorers/{scorer_id}/results/reasons':
    get:
      summary: Read judge reasons for a page of scorer results
      description: |
        Read the judge's reasoning for the given runs in one request, so a page
        of results can show reasons alongside classifications. Reasons are
        stored outside the database and read per run with bounded concurrency;
        a run whose reason is missing or unreadable is reported individually so
        one unavailable reason never fails the request.
      operationId: listScorerResultReasons
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
        - name: run_id
          in: query
          description: |
            Runs to read reasons for. Repeat the parameter once per run; at
            most 100 distinct runs (the results page maximum) per request.
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: 'One entry per requested run, in request order'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScorerResultReasonsResponse'
        '400':
          description: 'Invalid scorer ID, missing run_id, or too many runs'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: Scorer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/scorers/{scorer_id}/metrics/pass-rate':
    get:
      summary: Get a scorer's pass-rate metric over a date range
      description: |
        Returns a period-aligned pass-rate series plus a full-range aggregate
        for the scorer's dashboard chart, computed directly from every live
        score in [start_date, end_date) rather than the capped,
        unfiltered recent-attempts list /results returns. The headline
        pass_rate and the series describe the same window and denominator, so
        they cannot disagree. Binning follows the same day/week/month rules
        and 365-period cap as GET /factory/{uid}/metrics.
      operationId: getScorerPassRateSeries
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
        - name: start_date
          in: query
          description: 'RFC3339 UTC range start, inclusive. Defaults to 30 days before end_date.'
          required: false
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: 'RFC3339 UTC range end, exclusive. Defaults to now.'
          required: false
          schema:
            type: string
            format: date-time
        - name: group_by_period
          in: query
          description: Binning granularity for the series. Defaults to day.
          required: false
          schema:
            $ref: '#/components/schemas/FactoryMetricsGroupByPeriod'
      responses:
        '200':
          description: The scorer's pass-rate series and range aggregate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScorerPassRateSeriesResponse'
        '400':
          description: 'Invalid scorer ID, date range, or group_by_period'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Scorer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/scorers/{scorer_id}/self-improvement-config':
    get:
      summary: Get a scorer's self-improvement config
      description: |
        Retrieve the self-improvement configuration for a scorer: whether self-improvement is
        enabled for it.
      operationId: getScorerSelfImprovementConfig
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The scorer's self-improvement config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfImprovementConfigResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: Scorer not found or self-improvement not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Enable self-improvement for a scorer
      description: |
        Turn self-improvement on for a scorer, marking its config active. Self-improvement acts
        on runs the scorer itself already scores as failing (scored label's
        score below the scorer's threshold); this endpoint carries no
        classification data of its own.
      operationId: updateScorerSelfImprovementConfig
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The updated self-improvement config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelfImprovementConfigResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: Scorer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Disable self-improvement for a scorer
      description: Turn self-improvement off for a scorer by removing its config.
      operationId: deleteScorerSelfImprovementConfig
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: scorer_id
          in: path
          description: The scorer identifier
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Self-improvement config deleted
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: Scorer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /factory/run-scoring/dispatches:
    post:
      summary: Manually dispatch scoring for one or more runs
      description: |
        Immediately dispatch judge runs for the named (run, scorer) pairs,
        bypassing the two-hour idle cool-down, automatic sampling, and the
        scorer-created-after-run gate, since the caller selected the exact
        run — even a 0% sampling rate still accepts a manual dispatch. The
        full target set is validated before dispatch begins, and each pair's
        outcome (dispatched, already in flight, or failed) is reported
        independently.
      operationId: dispatchManualScoring
      tags:
        - factory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualScoringDispatchRequest'
      responses:
        '202':
          description: |
            The request was validated; judge evaluation continues
            asynchronously. Individual pairs may still report a
            failed_to_dispatch outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualScoringDispatchResponse'
        '400':
          description: |
            Malformed request, non-named-agent run, judge
            run, wrong factory, wrong agent scope, or more than 100 pairs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: 'A named run or scorer does not exist, or the caller lacks access'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error; no judge run was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/factory/runs/{run_id}/scores':
    get:
      summary: Read a run's current scores
      description: |
        List the current live attempt for each evaluation that has attempted
        the given run, most recent attempt first. Excludes a deleted
        evaluation's data. Requires
        only view access to the run, since reading scores is part of viewing
        the run.
      operationId: listRunScores
      tags:
        - factory
      security:
        - bearerAuth: []
      parameters:
        - name: run_id
          in: path
          description: The run identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The run's current scores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRunScoresResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          $ref: '#/components/responses/FactoryAccessDenied'
        '404':
          description: 'Run not found, or the caller cannot view it'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/runs/{runId}/scores':
    post:
      summary: Report evaluation scores for a run
      description: |
        Report one or more evaluation verdicts for a run, called by the judge
        run dispatched to score it and authenticated with that judge run's
        API key. Each verdict is processed independently — the response
        reports per-verdict acceptance, and a rejected verdict does not block
        the others — so reporting a subset of the run's evaluations is valid.
      operationId: reportRunScores
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          description: The run being scored
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRunScoresRequest'
      responses:
        '200':
          description: Every reported verdict was accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRunScoresResponse'
        '206':
          description: The request was well-formed but at least one verdict was rejected; inspect each result's status and error before deciding whether to resubmit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportRunScoresResponse'
        '400':
          description: Malformed request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/agent/identities/{uid}':
    get:
      summary: Retrieve an agent
      description: |
        Retrieve a single agent by its unique identifier.
        The response includes an `available` flag indicating whether the agent
        is within the team's plan limit and may be used for runs.
      operationId: getAgent
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          description: The unique identifier of the agent
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an agent
      description: |
        Update an existing agent.
      operationId: updateAgent
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          description: The unique identifier of the agent
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Missing or invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Only human users can manage agents, or plan limit exceeded'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete an agent
      description: |
        Delete an agent. All API keys associated with the
        agent are deleted atomically.
      operationId: deleteAgent
      tags:
        - agent
      security:
        - bearerAuth: []
      parameters:
        - name: uid
          in: path
          description: The unique identifier of the agent
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Agent deleted successfully
        '400':
          description: Cannot delete the default agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Only human users can manage agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Authentication via a Warp API key.
  responses:
    FactoryAccessDenied:
      description: Factory access is not enabled for the authenticated principal
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Factory:
      type: object
      description: Public representation of a factory.
      required:
        - uid
        - team_uid
        - name
        - description
        - alias
        - avatar_url
        - code_forge
        - repositories
        - default_environment
        - default_model
        - scoring
        - credential_strategy
        - integrations
        - agent_defaults
        - created_at
        - updated_at
      properties:
        uid:
          type: string
          description: Public UID of the factory.
        team_uid:
          type: string
          description: Public UID of the team that owns the factory.
        name:
          type: string
          description: Display name of the factory.
        description:
          type: string
          nullable: true
          description: Optional description of the factory.
        alias:
          type: string
          nullable: true
          description: |
            Optional display handle for the factory, unique across the team's
            Warp workspace when set.
        avatar_url:
          type: string
          nullable: true
          description: |
            Short-lived signed URL for displaying the factory's avatar. The URL
            may change between reads.
        code_forge:
          $ref: '#/components/schemas/FactoryCodeForge'
        repositories:
          type: array
          items:
            $ref: '#/components/schemas/FactoryRepository'
          description: 'Repositories scoped to the factory, independent of its default environment.'
        default_environment:
          type: string
          nullable: true
          description: |
            Public UID of the factory's default environment. File-managed
            factories may omit this default.
        default_model:
          type: string
          nullable: true
          description: |
            The default model ID for the factory's runs. File-managed factories
            may omit this default. Live-managed create and PATCH requests still
            capture a concrete validated model ID.
        scoring:
          $ref: '#/components/schemas/FactoryScoringConfig'
        credential_strategy:
          allOf:
            - $ref: '#/components/schemas/FactoryCredentialStrategy'
          description: |
            Default credential strategy for runs executed by the factory's
            named agents. Always a concrete value; factories default to
            EXECUTOR unless explicitly set to CREATOR.
        integrations:
          type: array
          items:
            $ref: '#/components/schemas/FactoryIntegration'
          nullable: true
          description: |
            Integration providers attached to the factory, independent of the
            automation triggers configured for it. null means the factory has
            not declared anything yet; an empty array means no providers are
            attached.
        agent_defaults:
          $ref: '#/components/schemas/FactoryAgentDefaults'
        creator:
          allOf:
            - $ref: '#/components/schemas/FactoryCreator'
          description: |
            The user who created the factory. Absent when there is no
            resolvable creator: the factory predates creator tracking, it was
            created by a service account, or the creating user's account no
            longer exists.
        created_at:
          type: string
          format: date-time
          description: Time the factory was created.
        updated_at:
          type: string
          format: date-time
          description: Time the factory was last updated.
    FactoryCreator:
      type: object
      description: 'The user who created a factory, when resolvable.'
      required:
        - uid
      properties:
        uid:
          type: string
          description: Firebase UID of the user who created the factory.
        email:
          type: string
          nullable: true
          description: 'Creator''s email, when available.'
    FactoryAgentDefaults:
      type: object
      description: |
        Default execution settings inherited by the factory's named agents
        when they declare no override of their own.
      required:
        - default_runner_uid
        - secrets
        - mcp_servers
        - worker_host
      properties:
        harness:
          allOf:
            - $ref: '#/components/schemas/Harness'
          description: |
            Default harness for the factory's named agents. Absent when the
            factory defaults to Warp's built-in harness. model_id and
            reasoning_level carry the harness-scoped default model, which is
            also reported in the factory's default_model.
        harness_auth_secrets:
          allOf:
            - $ref: '#/components/schemas/HarnessAuthSecrets'
          description: |
            Per-harness authentication secrets inherited by the factory's
            named agents. Only the secret for the default harness is ever
            populated. A third-party default harness with no secret here
            takes its credentials from the worker environment.
        default_runner_uid:
          type: string
          description: |
            Default runner UID for the factory's named agents. Empty when
            unset, in which case the environment's default runner applies.
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/SecretRef'
          description: Secrets attached to the factory's named agents by default.
        mcp_servers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MCPServerConfig'
          description: |
            MCP server configurations attached to the factory's named agents
            by default. Only warp_id (managed MCP) entries are representable
            for a Warp-managed factory.
        worker_host:
          type: string
          description: |
            Default worker host for the factory's named agents. Empty when
            unset, in which case the workspace default applies.
    FactoryScoringConfig:
      type: object
      required:
        - default_model
      properties:
        default_model:
          type: string
          nullable: true
          description: |
            Optional factory override for the model used by managed scorers and
            scorer-creation prefills. null or absent resolves to the platform
            judge default. User-created scorers still require an explicit
            model_id on create.
    FactoryIntegration:
      type: object
      description: |
        An integration provider attached to a factory.
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/FactoryIntegrationProvider'
    FactoryIntegrationProvider:
      type: string
      description: |
        Integration provider that can be attached to a factory. github is not
        accepted here; repository access comes from the factory's code forge.
      enum:
        - jira
        - linear
        - slack
    FactoryCodeForge:
      type: string
      description: |
        Source-control provider hosting the factory's repositories. NONE
        declares a repo-less factory with no native repositories; its
        environment relies on setup_commands to clone from any host instead.
      enum:
        - GITHUB
        - GITLAB
        - NONE
    FactoryCredentialStrategy:
      type: string
      description: |
        Default credential strategy for runs executed by the factory's named
        agents.
        - EXECUTOR (default): runs authenticate with the named agent's own
          credentials (e.g. a GitHub App installation token for the
          factory's team).
        - CREATOR: runs authenticate with the credentials of the principal
          that created the run.
      enum:
        - CREATOR
        - EXECUTOR
    FactoryRepository:
      type: object
      description: A repository scoped to a factory.
      required:
        - owner
        - repo
      properties:
        owner:
          type: string
          description: Repository owner (or full namespace for GitLab).
        repo:
          type: string
          description: Repository name.
    FactoryMetricsGroupByPeriod:
      type: string
      description: |
        Binning granularity for factory metrics series. Weeks start on
        Sunday (UTC), consistent with existing Warp analytics.
      enum:
        - day
        - week
        - month
    ListFactoriesResponse:
      type: object
      description: Response body for listing factories.
      required:
        - factories
        - page_info
      properties:
        factories:
          type: array
          items:
            $ref: '#/components/schemas/Factory'
        page_info:
          $ref: '#/components/schemas/PageInfo'
    FactoryRunRequest:
      type: object
      description: Request body for dispatching a run to a factory.
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: |
            The prompt sent to the factory's foreman, not wrapped in any
            factory intake envelope. Required and non-empty.
        title:
          type: string
          description: |
            Human-readable title for the dispatched run and its factory task.
            Omit to derive one automatically from the prompt.
        ticket_ref:
          type: string
          description: |
            Originating ticket reference in <source>:<id> form (for
            example, linear:REMOTE-123); omit to mint an adhoc reference.
            Stamped onto the run as ticket_id/ticket_source metadata.
        ticket_url:
          type: string
          description: |
            Optional URL of the ticket named by ticket_ref. Stamped onto
            the run as ticket_url metadata when given.
    FactoryRunResponse:
      type: object
      description: Response body for a dispatched factory run.
      required:
        - run_id
        - state
        - factory_uid
        - foreman_agent
        - ticket_ref
      properties:
        run_id:
          type: string
          description: Unique identifier for the dispatched run.
        run_url:
          type: string
          description: |
            URL to view the dispatched run in the Factory app. Empty when
            the Factory app origin is not configured.
        state:
          $ref: '#/components/schemas/RunState'
        factory_uid:
          type: string
          description: Public UID of the factory the run was dispatched to.
        foreman_agent:
          type: string
          description: Name of the factory's foreman agent that received the run.
        ticket_ref:
          type: string
          description: |
            The canonical <source>:<id> ticket reference the run was
            stamped with, either the caller-supplied ticket_ref or a
            minted adhoc reference.
    RunAgentRequest:
      type: object
      description: |
        Request body for creating a new agent run.
        Either prompt or skill (via skill field, config.skill_spec, or config.skills) is required,
        except for handoff requests that set conversation_id.
      properties:
        prompt:
          type: string
          description: |
            The prompt/instruction for the agent to execute.
            Required unless a skill is specified via the skill field, config.skill_spec, or config.skills.
            Handoff requests may omit prompt when conversation_id is set.
        mode:
          $ref: '#/components/schemas/AgentRunMode'
          description: |
            Optional query mode for the run. Defaults to `normal` when omitted.
            The server does not infer mode from prompt prefixes such as `/plan`,
            so callers should pass this field explicitly to request non-normal behavior.
        skill:
          type: string
          description: |
            Skill specification to use as the base prompt for the agent.
            Supported formats:
              - "repo:skill_name" - Simple name in specific repo
              - "repo:skill_path" - Full path in specific repo
              - "org/repo:skill_name" - Simple name with org and repo
              - "org/repo:skill_path" - Full path with org and repo
            When provided, this takes precedence over config.skill_spec.
        config:
          $ref: '#/components/schemas/AmbientAgentConfig'
        title:
          type: string
          description: Custom title for the run (auto-generated if not provided)
        team:
          type: boolean
          description: |
            Whether to create a team-owned run.
            Defaults to true for users on a single team.
        agent_identity_uid:
          type: string
          description: |
            Optional agent identity UID to use as the execution principal for the run.
            This is only valid for runs that are team owned.
        on_behalf_of:
          type: string
          description: |
            Optional email address or user ID of a Warp user to attribute
            the run to; when set, the resolved user becomes the run's
            creator instead of the caller. Only agent API keys may use this
            field, only when the calling agent has on_behalf_of enabled in
            its configuration (a team admin must turn this on per agent),
[...]
